server:
  port: 8082

spring:
  application:
    name: order-service

  datasource:
    url: jdbc:mysql://localhost:3306/workshop_db
    username: root
    password: root   # change if needed

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: false

eureka:
  client:
    enabled: false
    service-url:
      defaultZone: http://localhost:8761/eureka
