server:
  port: 8081

spring:
  application:
    name: planning-service

  datasource:
    url: jdbc:mysql://localhost:3306/planning_db
    username: root
    password: root   # change if needed

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: false

eureka:
  client:
    enabled: false
    service-url:
      defaultZone: http://localhost:8761/eureka
logging:
  leve.org.springframework.data.jpa.repository: DEBUG
